[2021-04-28 02:28] minghuaw opened #2 "Plan for ver. 0.7"
#  Plan for ver. 0.7

## Objectives

- [x] Cancellation
- [x] Timeout
- [x] `Client` API change because of the two above

## Implementation Proposal

### Communication Protocol for Cancellation and Timeout

The client will be able to cancel a request or set a timeout for a request, and the planned implementation is to use the same communication protocol and multiple messages (a total of two should

[2021-05-31 08:11] minghuaw commented on #2
[ ] Writing documentation with mdbook as opposed to put everything in lib.rs and Readme.md

[2021-06-07 06:46] minghuaw commented on #2
- [ ] Preparing for 0.7 release

[2021-06-07 06:52] minghuaw opened #3 "error: could not compile `openssl-sys` on fedora 34"
This error occasionally occurs upon initializing a new crate with feature flags `"tokio_runtime"` enabled. I haven't got enough time to investigate this, but the procedure below seems to be a consistent workaround.

 1. Add `toy-rpc` to `Cargo.toml` with NO feature flag enabled
 2. `cargo clean && cargo build`
 3. Then add feature flags to `toy-rpc` in your `Cargo.toml` file.

[2021-06-07 06:54] minghuaw commented on #3
FYI. This problem does not exist on my MacBook Air m1.

[2021-06-16 17:10] jadedragon-mrm opened #4 "frame large payloads write issue"
Hi,
it seems there is an issue in transport/frame.rs when using the tokio runtime.

https://github.com/minghuaw/toy-rpc/blob/ab4cc9b0859743ef5d1a8909cce38fa299bb7704/toy-rpc/src/transport/frame.rs#L227-L233

The write fails for large payloads and maybe should be replaced with `write_all`.

[2021-06-16 17:23] minghuaw commented on #4
Can you provide a bit more information? How large was the payload?

[2021-06-16 17:35] minghuaw commented on #4
@jadedragon-mrm I have replaced the `write` with `write_all` and rolled up the version to 0.7.1. Could you please check if that helps?

Please note that the frame transport currently only implements one body frame, and this limits the maximum payload size to `u32::Max` (bytes).

[2021-06-16 18:41] jadedragon-mrm commented on #4
Yes thanks. That helps

[2021-06-16 18:56] jadedragon-mrm opened #5 "Request: Support Stubborn IO"
Currently toy-rpc clients seem not to work with a StubbornTcpStream (https://docs.rs/stubborn-io/0.3.1/stubborn_io/tokio/type.StubbornTcpStream.html) instead of the default tokio TcpStream, because  the implementation requieres a stream to be Sync:

https://github.com/minghuaw/toy-rpc/blob/aa580f102f015de18ace91bacd7d5767c94cf52b/toy-rpc/src/client/tokio.rs#L198-L204

If the requirement for stream

[2021-06-16 20:33] minghuaw commented on #4
On that note, I will close this issue for now.

[2021-06-16 20:33] #4 closed

[2021-06-16 22:02] #2 closed

[2021-06-16 22:04] minghuaw commented on #5
@jadedragon-mrm Thank you for picking up the problem with the trait bounds. I have been wanting to relax the trait requirements but keep forgetting about it.

I have removed `Sync` from the trait bounds in version 0.7.2. Please take a look and feel free to let me know if there is anything else I can help.

[2021-06-17 06:27] jadedragon-mrm commented on #5
Great. That solves the problem

[2021-06-17 06:27] #5 closed

[2021-06-17 06:54] jadedragon-mrm opened #6 "[Feature Request] PubSub"
Currently a RPC client can be created from a TCPStream and a RPC server from a TcpListener using the `accept` method.
In order to be able to make calls in the reverse direction it would be great to support creating a RPC client from a TcpListener as well.
This way the RPC client can be a TCP server and the RPC server a TCP client. With this feature it would be possible to implement bidirectional c

[2021-06-17 07:03] minghuaw commented on #6
This feature sounds interesting and would likely need some re-structuring of the existing code. As I am not planning to re-structure the code in the near future, it may take a long time before this is implemented. Could you please provide some usage proposal? @jadedragon-mrm

Meanwhile, I think what you can implement for now is to start two RPC servers, one on each end, to achieve something simila

[2021-06-17 07:13] jadedragon-mrm commented on #6
I want to implement a TCP Server which periodically sends updates to the TCP client. If the TCP client is behind a firewall and not publicly accessible it is not possible to create another RPC server locally for the reverse direction.

[2021-06-17 07:19] jadedragon-mrm commented on #6
Something similar has been implemented in this example with the tarpc library:
https://github.com/google/tarpc/blob/master/tarpc/examples/pubsub.rs

[2021-06-17 07:40] minghuaw commented on #6
I was planning to implement something similar to a PubSub or message queue in a separate crate. I am now considering adding this feature in the major release (it's probably going to take me a few days thinking through how to make it easy to use).

Meanwhile, feel free to let me know something like an example usage case or API for you.

[2021-06-17 08:17] minghuaw commented on #6
@jadedragon-mrm One temporary solution for you could be that you can have the service maintaining a state with a buffer of pubsub items. There will be a RPC method that publishes to the service and there will be another RPC method that retrieves one item from the buffer (polling basically).

[2021-06-17 09:29] jadedragon-mrm commented on #6
Yes, but I don't want to add unnecessary delays with the polling. I think two separate TCP connections for both directions is what I need, so there is no blocking or waiting for the other channel.

[2021-06-17 18:38] minghuaw commented on #6
@jadedragon-mrm I am exploring the design of the APIs and would like to discuss with you whether that sounds reasonable. So overall, the publisher/subscriber can be built with client, and there will be three methods.

 1. Add topic
[code]
 2. A publisher is bound with only one Topic and one message type
[code]
 3. A subscriber is also bound with only one Topic and one message type
[code]

What do

[2021-06-17 21:05] jadedragon-mrm commented on #6
I'm not sure an add_topic method would be needed. Who would call this? I think this could be done implicitly by creating the subscriber or publisher. Also I would request that `publisher::<Topic>();` can be called on the server as well, not just on clients.

[2021-06-17 21:33] minghuaw commented on #6
I am debating whether `add_topic` is necessary. Everything can be done implicitly indeed.

I disagree on this. One can simply spin up a client on the server machine and periodically publish to the topic, and thus I don't really see the necessity of adding this functionality on the server. Plus, the server will likely be a message relay for the pubsub and may be not aware of the type of the message

[2021-06-17 21:57] minghuaw commented on #6
Actually I guess this should be the decision of the user. So I think what I will do is that the server side will also be able to call `publisher::<Topic>()` and `subscriber::<Topic>()`.

[2021-06-17 22:11] minghuaw commented on #6
Just to summarize, what will likely be implemented are:

1. On the client side:
[code]

2. On the server side:
[code]

Feel free to let me know if there is any other feature you would like to see.

[2021-06-18 06:59] minghuaw commented on #6
PubSub will require sending request/response bidirectionally, which is not implemented in the message protocol in 0.7. Due to breaking change in the message protocol, this feature will only be implemented in the next major release (0.8). As of now, there is no fixed timeline of when the next release will come out.

[2021-06-18 07:18] minghuaw opened #7 "Fix documentation errors in 0.7"
This is a tracking issue for documentation errors in version 0.7.

- [x] [`Client::with_stream<T>(stream: T)`](https://docs.rs/toy-rpc/0.7.2/toy_rpc/client/struct.Client.html#method.with_stream): The stream doesn't have to be `async_std::net::TcpStream`

[2021-06-18 08:03] minghuaw opened #8 "New message protocol"
This is a tracking issue for design and implementation for a new message protocol to allow support for pubsub in a push manner.

[2021-06-18 08:34] minghuaw opened #9 "Add default timeout duration?"
This is the tracking issue for discussion on a default timeout duration in version 0.8

[2021-06-18 08:38] minghuaw commented on #9
Two options are being considered.

1. Having a global default timeout duration (say something like 10 seconds)
2. The client can configure a default timeout.

[2021-06-18 11:46] jadedragon-mrm commented on #6
Great! This is exactly what I would like to use.
Can you give a rough estimate for when you'll be working on the 0.8 release?

[2021-06-18 11:51] minghuaw commented on #6
I am designing the new protocol and have encountered a bug with `erased_serde` which I have already made a PR. If the PR is merged by the end of this week, my rough estimate for 0.8 would be somewhere around this Sunday.

[2021-06-18 12:00] jadedragon-mrm commented on #6
Ok. I'm looking forward to test this new feature. If you need my help with anything, let me know.

[2021-06-18 12:51] jadedragon-mrm opened #10 "[Feature Request] Create a wrapper around the client which implements the service trait"
Currently I’m using the RPC client similar to this example where I create a wrapper around the client:

[code]
In this case it converts the result of the call into a `anyhow::Result`.
This way I can use the wrapper for a function which requires an implementation of the Arith trait as follows:

[code]

What I would like to see is a feature which can automatically generate such a wrapper or somethin

[2021-06-18 15:52] minghuaw commented on #10
Something similar is already generated by the macro. When you call `client.arith()` it actually creates a client wrapper `ArithClient`, which has a reference to the client. You can imagine something like

[code]

But this does hold a reference to the client, so I am not sure if the lifetime param will be a constraint for you.

[2021-06-18 16:02] minghuaw commented on #10
If you need a wrapper that holds ownership of the client instance, that should be a relative easy change in the proc_macro and probably won't break anything.

[2021-06-19 07:50] jadedragon-mrm commented on #10
Yes the ownership is one issue, but more importantly my point was that the Airth trait is not implemented by the ArithClient.
This is the result of cargo expand:
[code]

It generates a new struct and methods for add and subtract which return a `Call`. But what I what would like is another struct which implements Arith:

[code]

For this to work the Call needs to be converted into the original Resu

[2021-06-19 08:03] minghuaw commented on #10
I totally forgot that the `ArithClient` methods returns a `Call`. I think what I can do is to generate `From` impl for a new type (say `ArithClientWrapper`), and the usage will probably look like

[code]

This will probably be gated behind a new feature flag. I haven't thought about the name of the new feature. Do you have any name for the new feature flag name? @jadedragon-mrm

[2021-06-19 08:35] jadedragon-mrm commented on #10
Yes that should be fine.

How about `client_trait_impl` ?

[2021-06-19 08:53] jadedragon-mrm commented on #9
I would prefer the second option:
`client.set_default_timeout(duration: Duration)`

[2021-06-20 16:57] minghuaw commented on #6
I have run into some personal issues. Please expect some delays (two or three days) for the 0.8.0-alpha

[2021-06-20 21:10] jadedragon-mrm commented on #6
Ok no problem

[2021-06-21 02:13] minghuaw commented on #10
I think there is probably a better design. Instead of having wrapper type, the client itself can implement the trait, so the usage will be something like

[code]

[2021-06-21 09:46] minghuaw commented on #10
Actually there could be some problem with errors . The `Result`  definition are different. `.await`ing on the `Call` will give a result that has `toy_rpc::Error` as the `Err` value because there are other source of errors than the execution itself. Although one work around could be mapping the `toy_rpc::Error` to a `String` with `map_err`, the control on error handling is kind of lost.

I will nee

[2021-06-21 17:33] jadedragon-mrm commented on #10
Yes I think mapping the `toy_rpc::Error` to `String` or `anyhow::Error` is fine.

[2021-06-22 13:07] minghuaw commented on #10
I don't quite like the idea of simply mapping the error to `String`. I will need to think about some solutions

[2021-06-22 19:26] minghuaw commented on #10
@jadedragon-mrm What about this idea. The RPC method return type definition will change from `Result<T, impl ToString>` to something like `Result<T, Into<toy_rpc::Error>>`, and I will provide blanket impl for any type that implements `std::error::Error` to convert to `toy_rpc::Error`. `toy_rpc::Error` also implements `std::error::Error`, and hence you can use it with `anyhow::Result`. Please let m

[2021-06-23 07:28] jadedragon-mrm commented on #10
If it works as intended, that would solve the problem too I think. `toy_rpc::Error` could have a `Remote` or `Forwarded` error type to hold the original error.

[2021-06-27 12:40] minghuaw commented on #10
I have uploaded my initial attempt in a pre-alpha branch (as well as a tag). In short, there is no additional feature flag but an argument for the `export_trait` macro on the service declaration ([an example here](https://github.com/minghuaw/toy-rpc/blob/14c12b0a09d0dd57fecc49204be7b5e322b838cf/examples/tokio_tcp/src/rpc.rs#L33)), which looks like this

[code]

The exact line of client usage can b

[2021-06-28 08:50] jadedragon-mrm commented on #10
I think this is fine. Will the implicit error conversation also work when I call `reply?`  ?

[2021-06-28 10:44] minghuaw commented on #10
The reply will be of type `Result<i32, toy_rpc::Error>` in this case, and because `toy_rpc::Error` implements `std::error::Error` trait, you should be able to simply use `?` with `anyhow::Result`. I have implemented `From` trait for all basic types (string, u8, etc) to convert to `toy_rpc::Error`, and I will probably also impl `TryFrom` for all the basic types as well. So you will be able to simpl

[2021-06-30 12:59] jadedragon-mrm commented on #6
Is the PubSub feature now working in the 0.8-alpha branch?

[2021-06-30 13:40] minghuaw commented on #6
Sorry, not yet. I am still working on it. It's been really hard to stay productive because of recent heat wave in my city

[2021-07-08 14:50] minghuaw commented on #6
@jadedragon-mrm Would you want something that allows multiple subscribers of the same topic on one client?

[2021-07-08 15:51] jadedragon-mrm commented on #6
I think one subscriber of the same topic per client should be enough.
One thing that could be useful though is to define a maximum queue size for the subscriber, in case the subscriber cannot process the messages fast enough.

[2021-07-11 05:01] minghuaw commented on #6
There is now an initial implementation with tag [`0.8.0-pre-alpha.1`](https://github.com/minghuaw/toy-rpc/releases/tag/0.8.0-pre-alpha.1) and a working example in the 0.8-alpha branch [here](https://github.com/minghuaw/toy-rpc/tree/0.8-alpha/examples/tokio_pubsub).

I still need to do more testing, cleanup and  troubleshoot some bugs before finalizing this version.

[2021-07-12 08:01] jadedragon-mrm commented on #6
Ok, does calling `publisher` and `subscriber` also work for the server in this alpha version?

[2021-07-13 14:45] minghuaw commented on #6
`publisher::<Topic>()` and `subscriber::<Topic>()` implementations are just added on the server side in tag [`0.8.0-pre-alpha.2`](https://github.com/minghuaw/toy-rpc/releases/tag/0.8.0-pre-alpha.2) and should work in the 0.8-alpha branch. The [tokio_pubsub example](https://github.com/minghuaw/toy-rpc/tree/0.8-alpha/examples/tokio_pubsub) is also updated to demonstrate the usage.

[2021-07-13 14:54] minghuaw commented on #6
@jadedragon-mrm I am debating whether a PubSub message should be followed with an `Ack`. Any idea?

[2021-07-13 16:23] jadedragon-mrm commented on #6
The TCP protocol itself already sends `ACK` packets. I my opinion that's enough.
But if someone really needs an explicit `ACK` then they could define it manually:
[code]

This way the `Ack` can also contain useful serialized data.

[2021-07-16 23:02] minghuaw commented on #9
Now a default timeout of 10 seconds is set when a new client is created, but the default timeout can be changed with `set_default_timeout(duration)`. If you are interested in setting the timeout only for the next RPC call, there is another method `set_next_timeout(duration)`

[2021-07-16 23:03] minghuaw commented on #9
Re-opening this issue for future discussions on changing timeouts

[2021-07-16 23:05] #8 closed

[2021-07-17 18:16] #7 closed

[2021-07-17 18:17] minghuaw commented on #6
I have published 0.8.0-alpha.0 on crates.io. The documentation be updated for PubSub.

[2021-07-17 18:17] #9 closed

[2021-07-17 18:18] #10 closed

[2021-07-17 18:19] minghuaw opened #12 "Update documentation for 0.8"
- [ ] Add new book chapter on PubSub
- [ ] Update the chapter on timeout

[2021-07-17 18:37] jadedragon-mrm commented on #6
Great! I will try it

[2021-07-18 10:50] jadedragon-mrm opened #13 "Error conversion"
Currently I needed to modify `toy-rpc/src/error.rs` in the `0.8.0-alpha.0` version to support the Error types I use in my project like this:

[code]

However, this is more of a temporary fix, because it adds the dependency to the `anyhow` crate in toy-rpc.
Probably a more general approach to convert the error types would be a better idea.

[2021-07-18 12:06] minghuaw commented on #13
I haven't found an elegant solution yet. For now, using the generated service impl for the client (#10), I think the best way is to have something like

For the service definition

[code]

For the client

[code]

For the server implementation

[code]

[2021-07-18 14:42] jadedragon-mrm commented on #13
Ok I will do it like this

[2021-07-18 16:40] jadedragon-mrm commented on #6
I'm getting regularly the message `toy_rpc::client::broker:Error sending over response sender`.
I think the error is not very descriptive. It might have something to do with the subscriber reaching it's maximum capacity.

[2021-07-18 17:32] minghuaw commented on #6
That error message is associated with RPC calls. Can you provide more information like what kind of RPC calls you were making?
The error message itself is worded really bad, so I will try to improve the error message as well.

[2021-07-18 17:35] jadedragon-mrm commented on #6
It seems to happen in `clien/broker.rs` on line 160.
Yes it happens with RPC calls. I have several threads running which make requests simultaneously. So this might be a mulithreading issue.

[2021-07-18 17:42] minghuaw commented on #6
Would you be able to provide a minimal example of your use case?

[2021-07-18 17:45] jadedragon-mrm commented on #6
That's difficult. Also maybe we should move this to a new issue since its not really related to PubSub?

[2021-07-18 17:46] minghuaw opened #14 "[Bug] RPC call error"
That's difficult. Also maybe we should move this to a new issue since its not really related to PubSub?

_Originally posted by @jadedragon-mrm in https://github.com/minghuaw/toy-rpc/issues/6#issuecomment-882093652_ and https://github.com/minghuaw/toy-rpc/issues/6#issuecomment-882083829

[2021-07-18 17:48] minghuaw commented on #6
Moving the RPC call related bugs to #14

[2021-07-18 17:57] jadedragon-mrm commented on #14
To describe the use case a bit more: I'm connecting with 8 clients to 8 different RPC servers and splitting a vector into pieces which are send to the servers. The servers then respond with a bigger response and on the client side I assemble the results back to one vector.

[2021-07-18 18:07] minghuaw commented on #14
Are the 8 clients created separated and running on separate processes?

[2021-07-18 18:09] jadedragon-mrm commented on #14
They run in the same process

[2021-07-18 18:12] minghuaw commented on #14
Do you have publisher on the client side publishing messages in the meantime? I think there is a race condition associated with the message id where the id stored in the `Call` struct could be different from the one assigned to the message sent to server when there is a publisher on the client side sending messages at the same time.

[2021-07-18 18:13] jadedragon-mrm commented on #14
Also I'm using a trait like this:
[code]

I defined self as `Arc<Self>`. Maybe that has to do something with it?

[2021-07-18 18:17] minghuaw commented on #14
I think this should be fine,  but this is a little redundant because `ServerBuilder` asks for an `Arc` when you register your service, and when an RPC call is received on the server side, it internally creates a clone. But still this shouldn't affect that. I am making some changes to how the message ID is assigned and will publish a 0.8.0-alpha.1 before I start building some kind of test case.

[2021-07-18 18:22] jadedragon-mrm commented on #14
These are some lines from my log:
[code]

But they come from different clients running in different threads.

[2021-07-18 18:25] jadedragon-mrm commented on #14
Also I'm using `futures_util::future::select_all` for some RPC requests. This could be a reason, because futures might be dropped.

[2021-07-18 18:26] minghuaw commented on #14
I see. I have published 0.8.0-alpha.1 which is only a fix to the racing condition between request and publisher. I will start to build a test case for this.

[2021-07-18 18:36] jadedragon-mrm commented on #14
I tested it and it seems to be caused by `futures_util::future::select_all`.
It should be reproducible by making several RPC calls and only awaiting the first one with `select_all`.
The other futures are discarded and as a result the error in toy_rpc occurs.
It does not happen if I call `leak` on the unused futures.

[2021-07-18 18:47] minghuaw commented on #14
That sounds reasonable. The `futures` `oneshot::Sender` will return an error if the receiver is dropped. Do you have any recommended error message? Or I guess one option is to cancel the call when the call is dropped?

[2021-07-18 18:54] jadedragon-mrm commented on #14
I think to cancel the call would be good, otherwise the log is full of error messages from toy_rpc which I can't suppress.

[2021-07-18 18:56] minghuaw commented on #14
Sounds good, I will implement that

[2021-07-18 19:02] jadedragon-mrm commented on #14
thanks

[2021-07-18 19:15] jadedragon-mrm commented on #14
Do you accept donations for your work?

[2021-07-18 20:05] minghuaw commented on #14
I am doing this for fun as this moment, and I really enjoy working on this. So donation is really not needed, but still thank you for asking. It's really appreciated.

I have published 0.8.0-alpha.2 in which the call is canceled if it is dropped before results comes back from server. The task that handles incoming responses will also simply return if the call is canceled. I have only done a quick

[2021-07-18 20:36] minghuaw commented on #14
I forgot to mention that as a result of the change, `cancel()` method on the `Call` now requires a mutable reference.

[2021-07-18 21:34] jadedragon-mrm commented on #14
Ok. In case you change your mind let me know :)

I upgraded my project to the newest version. So far I'm very happy with it. I don't see any errors.
The only thing left would be the issue with `anyhow`.

[2021-07-18 21:47] minghuaw commented on #14
I am still trying to find an elegant solution for this. My understanding is that the ideal case for you would be that you can use `anyhow::Result` in the RPC trait declaration. Is that right?

[2021-07-18 22:05] jadedragon-mrm commented on #13
Currently this code does not compile, because `anyhow::Error` can not be converted to `toy_rpc::Error` without adding the conversion to `toy-rpc/src/error.rs`:

[code]

[2021-07-18 22:07] jadedragon-mrm commented on #14
Yes, but for now I would be happy if I can use `?` on `anyhow::Result`. I added an example in the other issue.

[2021-07-19 03:41] minghuaw commented on #13
Ideally I want to implement something that is more general than targeting `anyhow::Error`, which I have not found a good solution yet. As a temporary fix, I have added `impl` for conversion from `anyhow::Error` to `toy_rpc::Error`, and `anyhow` is added as an optional feature. So in order to enable this conversion, you will just need to add "anyhow" in the features list of `toy-rpc`. For example `

[2021-07-19 06:22] jadedragon-mrm commented on #13
That's perfect! I tried it and it works without issues.
Also being able to directly return `anyhow::Result` is great because it allows the use of macros like `anyhow::bail` and `anyhow::ensure` which I find very useful.

[2021-07-19 07:51] #14 closed

[2021-07-19 07:51] #13 closed

[2021-07-21 01:08] minghuaw commented on #6
A new derive macro `Topic` is added in version 0.8.0-alpha.4 to generate impl for the `Topic` trait. Example usage

[code]

[2021-07-21 05:44] fog-gmbh commented on #6
That's great. Will the name of the topic be transmitted on every request?

So if I do this:

Will this cost more bandwidth than choosing a short name for the topic?

If so, maybe the derive macro could generate a shorter ID for the topic. For example a 32bit hash instead of the full name.

[2021-07-21 05:51] minghuaw commented on #6
Good point. I never thought about this. The topic name is indeed transmitted on every request. I guess the workaround for now is to manually implement the `Topic` trait to reduce the cost on bandwidth.

This could be a good option. My only concern is that a 32bit hash would look bad on the log. Let me think about it.

[2021-07-21 05:56] fog-gmbh commented on #6
Or maybe there could be two macros `Topic` and `TopicHash` and then the user can choose what is more important: nice logs or lower bandwidth cost.

[2021-07-21 06:16] minghuaw opened #16 "`Ack` for PubSub message delivery"
## Why?

As of 0.8.0-alpha.4, the PubSub message deliveries are not `Ack`ed by the subscriber. TCP itself could suffice the delivery or message safety requirement for most cases, but I would like to make it configurable for the cases where explicit `Ack` is preferred. The proposed implementation is like follows

## Proposal

There will be three different `AckMode`s.
 1. `AckModeNone`, no `Ack` mes

[2021-07-21 06:18] minghuaw commented on #6
Good ideas. I will probably go with something that can be configured with additional attribute args.

[2021-07-28 09:31] minghuaw commented on #16
Initial implementation is added in 0.8.0-beta.0 (PR https://github.com/minghuaw/toy-rpc/pull/17). This issue will remain open for issues related to `Ack`

[2021-07-28 09:38] minghuaw commented on #6
There is a minor change in API in 0.8.0-beta.0. When you create a `Subscriber`, the method now takes an `Option<NonZeroUsize>` as the argument (ie. `subscriber::<Topic>(Option<NonZeroUsize>)` ). When the argument is `None`, the subscriber will be created with an unbounded channel under the hood. The usage would then look like

[code]

[2021-07-28 09:41] minghuaw opened #18 "Logging message improvement"
This is a tracking issue for logging message improvements.

[2021-07-29 08:29] fog-gmbh commented on #6
I think that's very useful.

So the use case of this is to directly work with u32 numbers without having to wrap them in a struct?

[2021-07-29 08:30] jadedragon-mrm commented on #6
I think that's very useful.

So the use case of this is to directly work with u32 numbers without having to wrap them in a struct?

[2021-07-29 08:33] minghuaw commented on #6
That is correct. The item type must implement `Serialize` and `Deserialize`. And the struct `Count` will only be used for declaring
the topic, which kind of allows some check at the compile time.

[2021-08-02 07:56] minghuaw commented on #18
- [ ] WebSocket/HTTP integration graceful shutdown handshake and log message

[2021-08-02 07:58] minghuaw opened #21 "[Bug] WebSocket close handshake incomplete"
The WebSocket connection is simply dropped by the client upon closing. A proper closing handshake should be performed.

1. Client sending `Close` frame
2. Server respond with a `Close` frame
3. Client and Server drop the connection

[2021-08-04 01:26] minghuaw commented on #6
@jadedragon-mrm @fog-gmbh I am debating whether a new feature flag "pubsub" should be added to hide PubSub behind a feature gate? Any ideas?

[2021-08-04 07:39] fog-gmbh commented on #6
I think hiding something behind a feature flag makes only sense if you also can make some otherwise not needed dependencies optional.
For example what I would like is a feature flag "websockets". With this feature flag `tungstenite` could become optional and all of its dependencies don't have to be included in my project, because I only use TCP communication.

[2021-08-04 09:07] jadedragon-mrm commented on #6
I think hiding something behind a feature flag only makes sense if you also can make some otherwise not needed dependencies optional.
For example what I would like is a feature flag "websockets". With this feature flag `tungstenite` could become optional and all of its dependencies don't have to be included in my project, because I only use TCP communication.

(Before I accidentally used the wrong

[2021-08-04 09:09] minghuaw commented on #6
@jadedragon-mrm The WebSocket related crates and APIs (including `dial_http` and `dial_websocket`) are not feature gated behind a new feature flag "ws" in version `"0.8.0-beta.4"`. The `tokio_tcp` example will compile with 151 dependencies without `"ws"` feature and 165 dependencies with `"ws"` feature.

[2021-08-04 09:22] jadedragon-mrm commented on #6
https://github.com/minghuaw/toy-rpc/blob/a230926ea9e678e0b64d33ce2484632c0088a18b/toy-rpc/Cargo.toml#L46-L47

It seems `async-tungstenite` still gets pulled in by the features `tokio_runtime` and `async_std_runtime`.

[2021-08-04 10:08] minghuaw commented on #6
Good catch. The `"ws"` feature is now split into two separate feature flags: `"ws_tokio"` and `"ws_async_std"` to work with different async runtime in version `"0.8.0-beta.5"`. The `tokio_tcp` example now compiles with 124 dependencies.

[2021-08-04 13:02] jadedragon-mrm commented on #6
Great! I tested it and it works.

[2021-08-16 06:22] minghuaw commented on #21
The handshake is fixed and will be released as 0.8.0

[2021-08-16 06:22] #21 closed

[2021-08-16 07:40] minghuaw commented on #6
The change from 0.8.0-beta.5 to 0.8.0 is only a bug fix for websocket closing handshake, and I am not adding any feature flags to toggle the pubsub functionality.  So I think the 0.8.0 version should not introduce any breaking changes for you. I will close this issue for now.

[2021-08-16 07:40] #6 closed

[2021-10-14 08:02] ngryman opened #24 "Is the project still in active development?"
Hey @minghuaw,

First of all thanks for this library, it's very well thought and designed 👏

I guess everything is in the title of this issue 😄
I'm asking because I'm starting a SaaS and I'm already using your library with success. But before I fully commit to using it I'd like to be confident enough that it will not be abandoned.

Thanks!

[2021-10-20 03:24] minghuaw opened #25 "Plan for 0.9 (open for feature request)"
This issue is for discussion for new features and improvements for version 0.9.

Planned features:

- [ ] migrate to `tracing` and distributed tracing with `opentelemetry`

[2021-10-21 07:29] minghuaw opened #26 "migrate to `tracing` and distributed tracing with `opentelemetry`"

[2021-10-21 07:41] minghuaw commented on #26
# Distributed tracing

## Rough Plan

1. migrate to `tracing`
2. integrate with `tracing-opentelemetry`

## Rough Outline for Implementation

For compatibility, the protocol header
[code]
 will be used for propagating the trace context. The `Ext` message will be sent before the request message and will share the same message id field. The `content` field will be used to identify the message as a t

[2021-10-25 06:56] DevasiaThomas opened #27 "Error on server compile"
I'm not sure what I am doing wrong, but I'm getting an error(shared below) while compiling the server and I'm at a loss here. Below is the code. My message was an enum initially - I thought it was related to that but that doesn't seem to be the case. I'm running rust ``v1.54.0``. I do a ``cargo publish --dry-run`` and point to the packaged version of the service definition project.

**Service Defi

[2021-10-25 13:46] #24 closed, assigned to minghuaw

[2021-10-25 22:55] minghuaw opened #28 "Add context to RPC impl on the server side"
The context could be used for

- cascading cancellation (#24)
- access client connection info (ip/node name, etc.) #27
- distributed tracing (#26)

[2021-10-25 23:00] minghuaw opened #29 "Proper error handling for connection interruption"
#27

[2021-10-26 10:57] ngryman opened #30 "[Feature Request]: Relax error type in services"
## Problem

Currently, services need to return a `toy_rpc::Error` which requires the user to write more code than necessary. The user needs to explicitly convert errors from external crates or implement the `Into<toy_rpc::Error>` trait when possible.

Here is an contrived example of what I'm talking about:

[code]

It also seems that the variants of the `toy_rpc::Error` should be reserved for `toy

[2021-11-03 06:42] minghuaw commented on #24
After reading the `tarpc`'s [release notes](https://github.com/google/tarpc/blob/2591d21e94803c9fda53decc2c2b81fdd17aa65d/RELEASES.md),

I just realized that cascading cancellation is already supported. Whenever a `Call<Res>` is dropped, a cancellation will be sent to the server if the response has not been received by the `Call`, which is essentially the same mechanism as that in `tarpc`

[2021-11-03 08:34] ngryman commented on #24
Oh, that's great!

[2021-11-09 01:42] minghuaw commented on #28
## Proposed Usage

A new type `Context` will be added, which (for now) will contain information such as client connection info and distributed tracing (if enabled). The proposed usage looks like below

[code]

The implementation will likely use `task_local!`. While `tokio` provides a really nice method `scope` that allows allocating the initially value upon entering the scope of the task local val

[2021-11-12 02:04] minghuaw commented on #28
## Another Proposition

Another way would be to allow user define the service with the `Context` as the second parameter, which will not appear on the generated client stub (the macro takes care of this)

[code]

[2021-11-17 01:06] minghuaw commented on #30
I have some initial implementations in the "0.9-devel" branch, which relaxes the return type from `Result<_, _>` to any type that is serializable. On the server/service definition side, the code like below would work

[code]

On the client side, it is almost like what you suggested

[code]

where a non-result return type `Ret` is mapped to the `Ok` type of the RPC response (`Result<Ret, toy_rpc::E

[2021-11-23 02:17] minghuaw opened #31 "Removing `AckMode`"
The current implementation of `AckMode` isn't that useful in a practical environment and is creating more hurdles for users because it is represented as a type state for the client

[2021-11-23 16:34] minghuaw commented on #30
I have released 0.9.0-alpha.1 on crates.io. I have added some documentation and examples for the preview release in the book. The particular chapter can be found [here](https://minghuaw.github.io/toy-rpc/10a_alpha.1.html), and the [`tokio_tcp` example](https://github.com/minghuaw/toy-rpc/tree/0.9-devel/examples/tokio_tcp) in `0.9-devel` channel has been updated to showcase the usage.

I will leave

[2021-11-24 01:19] minghuaw commented on #31
The long term plan for this project is to eventually switch to protocols like AMQP (which is a separate project that I am working on) where message delivery acknowledgement is built-in.

[2021-12-03 06:04] jadedragon-mrm commented on #26
I would ask to make this feature optional to avoid unnecessary dependencies to  `opentelemetry` and keep the message size small for projects where this is not used (like mine).

[2021-12-03 07:31] minghuaw commented on #26
That is exactly my plan. It will be gated behind a feature, and no additional context message will be transferred unless the feature is enabled.

[2022-05-14 05:50] DevasiaThomas opened #32 "Using a different enum representation breaks things"
Hi @minghuaw :)

Using the Consumer service in the examples, if I try to send an enum that looks like this

[code]
things are fine, but as soon as I add/remove tagging to the enum as described [here](https://serde.rs/enum-representations.html), it fails to work.. I can't tell if the connection dropped or some parsing error happened. it's very silent.

The reason I am using tagging is because downs

[2022-05-14 08:42] minghuaw commented on #32
I will look into it

[2022-05-23 02:57] minghuaw commented on #32
I think I have found the problem, assuming that you were using the `bincode` binary encoding (which is the default one). There's good news and bad news.

The bad news is that the problem, unfortunately, is caused by `bincode` not supporting tagging with `#[serde(tag = "type")]` macro (the issue can be found [here](https://github.com/bincode-org/bincode/issues/272)).

However, the good news is that

[2022-05-23 18:19] DevasiaThomas commented on #32
@minghuaw Thank you for the answer and your suggestion :)
Moving from bincode to json seems a like a loss within the rust ecosystem and hence I ended up writing custom deserializers to support the externally tagged variants and ended up adding an identifying fields that weren't enums to help deserialize.
Nevertheless, I hope this thread helps others :)

[2022-05-23 18:19] #32 closed

[2022-05-23 18:21] DevasiaThomas commented on #32
btw @minghuaw can you DM me on linkedIn (its on my profile) Didn't see a private contact method :)

[2022-05-23 20:39] minghuaw commented on #32
@DevasiaThomas do you mind using email instead? I don't check my LinkedIn that often. My email address is: michael.wu1107@gmail.com

[2022-07-19 13:55] Licenser opened #33 "ToyRPC panics"
There are a [number of places](https://github.com/minghuaw/toy-rpc/search?q=expect) where ToyRPC panics instead of returning a manageable error. This is somewhat problematic for a library as it removes the option to handle mistakes gracefully and shuts down the surrounding application, making it non-recoverable. Doubly so for a networked system.

It would be nice to change to code to return an `Er

[2022-07-19 20:05] minghuaw commented on #33
I think the search results are all from examples or tests, except for https://github.com/minghuaw/toy-rpc/blob/0642e4ec9bd76e1b85d01159f5e089a0a8603798/toy-rpc/src/server/mod.rs#L396, which happens when the server handles websocket connection in a separate task (and this is why I didn't make it returning an error).

However, I do believe there are much room for improvement in terms of error handli

[2022-07-19 20:32] Licenser commented on #33
Ja, that's exactly the one I ran into :D. Should have paid more attention when checking for me, sorry.

[2022-07-19 22:21] minghuaw commented on #33
@Licenser I pulled out a quick fix (037402ec6053984c7f9eb15f96c1ae6d8a893c5f) in ver [0.8.5](https://crates.io/crates/toy-rpc), which is already up on crates.io. It now performs ws handshake in the main task and spawns a separate task after a successful ws connection.

[2022-07-19 22:33] Licenser commented on #33
Oh wow, that was fast, thank you so much! you are awesome :D

[2022-07-19 22:33] #33 closed

[2022-07-19 22:42] minghuaw commented on #33
Just a quick note. I will pick up the work on version 0.9 after I am done with a major milestone for my other crate (fe2o3-amqp). Just need to stick with 0.8.5 or later a bit longer

[2022-07-20 09:50] Licenser commented on #33
No worries, I appriciate the work you put in the crate :)

[2022-08-15 17:19] sveitser opened #34 "Example `tide_integration`: compilation fails with "expected enum `tide_websockets::Error`, found enum `tungstenite::Error`""
I get the following errors when running `cargo check` in the `tide_integration` crate.
[code]

I'm using rust `1.62.0`.

[2022-08-15 17:31] minghuaw commented on #34
Thanks for the issue. I ll take a look at it later today or tomorrow. It's been really busy and I haven't got the time to keep up with all the dependencies

[2022-08-15 23:19] minghuaw commented on #34
Hi, @sveitser the problem is actually simpler than I thought. `tide-websocket` has not been kept up to date with the latest `tungstenite` and I have a fork which I forgot to update the `tungstenite` version. The `tide-integration` should be good now with the updated deps in my fork.

You may need to run `cargo update` to update your `Cargo.lock` though.

I am going to work on updating other HTTP f

[2022-08-16 08:06] sveitser commented on #34
@minghuaw Thanks! The example compiles and runs just fine now.

[2022-08-16 08:06] #34 closed

[2022-08-17 20:43] minghuaw opened #35 "Remove `DEFAULT_RPC_PATH` to avoid confusion"

[2022-08-18 19:54] minghuaw commented on #35
version [0.9.0-beta.1](https://docs.rs/toy-rpc/0.9.0-beta.1/toy_rpc/constant.DEFAULT_RPC_PATH.html)

[2022-08-18 19:54] #35 closed